---
const { blog } = Astro.props;
import showdown from "showdown";
import HeaderMobile from "../../HeaderMobile.astro";

const converter = new showdown.Converter();
const markdown = blog.jobDescription
const html = converter.makeHtml(markdown);
---

<HeaderMobile title="Vacante" />
<div class="mt-6">
    <hr />
    <div class="lg:flex">
        <div class="lg:w-[70%] lg:mr-4">
            <h1 class="font-bold text-xl my-3 lg:text-2xl">{blog.title}</h1>
            <hr class="hidden lg:block">
            <div
                class="flex flex-col items-center bg-gray-900 p-[20px] rounded-xl my-5 border border-white shadow-sm shadow-white lg:hidden"
            >
                <img
                    class="rounded-xl"
                    src={blog.jobDetails.img_empresa}
                    alt=""
                />
                <h2 class="font-bold text-lg my-3">{blog.company}</h2>
                <hr />
                <span>
                    <strong>Sector</strong>
                </span>
                <span class="text-sm text-[#d3d3d3]"
                    >Consultorías / Asesorías</span
                >
            </div>
            <div class="prose prose-sm prose-invert w-full max-w-none h-full">
                <div class="w-full h-full" set:html={html} />
            </div>

            <div class="lg:hidden">
                <hr class="mt-5" />
                <h1 class="my-5 font-bold text-lg">Resumen de la vacante</h1>
                <table
                    class="min-w-full bg-gray-900 shadow-lg rounded-lg overflow-hidden text-sm"
                >
                    <thead>
                        <tr>
                            <th
                                class="bg-blue-600 text-white px-6 py-3 text-left border-b border-gray-700"
                                >Campo</th
                            >
                            <th
                                class="bg-blue-600 text-white px-6 py-3 text-left border-b border-gray-700"
                                >Detalle</th
                            >
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Título</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >{blog.title}</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Empresa</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >{blog.company}</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Salario</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >{blog.salary}</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Ubicación</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >{blog.location}</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Fecha de Publicación</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >{blog.publish_date}</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3">Profesión</td>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >{blog.proffesion}</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Tipo de Contrato</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >A término fijo por 3 meses renovable</td
                            >
                        </tr>
                        <tr>
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Horario</td
                            >
                            <td class="border-b border-gray-700 px-6 py-3"
                                >Lunes a viernes de 8 am a 5 pm y sábados de 8 am a
                                12 pm</td
                            >
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href={blog.job_url} class="lg:hidden">
                <button class="bg-sky-700 w-full p-4 rounded-xl mt-4 font-bold">
                    Aplicar a la vacante
                </button>
            </a>
        </div>
        <div class="hidden lg:block w-[40%] ml-4">
            <div
                class="flex flex-col items-center bg-gray-900 p-[20px] rounded-xl my-5 border border-white shadow-sm shadow-white"
            >
                <img
                    class="rounded-xl"
                    src={blog.jobDetails.img_empresa}
                    alt=""
                />
                <h2 class="font-bold text-lg my-3">{blog.company}</h2>
                <hr />
                <span>
                    <strong>Sector</strong>
                </span>
                <span class="text-sm text-[#d3d3d3]"
                    >{blog.jobDetails.area}</span
                >
            </div>
            <table
                class="w-full bg-gray-900 shadow-lg rounded-lg overflow-hidden text-sm"
            >
                <thead>
                    <tr>
                        <th
                            class="bg-blue-600 text-white px-6 py-3 text-left border-b border-gray-700"
                            >Campo</th
                        >
                        <th
                            class="bg-blue-600 text-white px-6 py-3 text-left border-b border-gray-700"
                            >Detalle</th
                        >
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Título</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >{blog.title}</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Empresa</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >{blog.company}</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Salario</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >{blog.salary}</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Ubicación</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >{blog.location}</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Fecha de Publicación</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >{blog.publish_date}</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3">Profesión</td>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >{blog.proffesion}</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Tipo de Contrato</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >A término fijo por 3 meses renovable</td
                        >
                    </tr>
                    <tr>
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Horario</td
                        >
                        <td class="border-b border-gray-700 px-6 py-3"
                            >Lunes a viernes de 8 am a 5 pm y sábados de 8 am a
                            12 pm</td
                        >
                    </tr>
                </tbody>
            </table>
            <a href={blog.job_url}>
                <button class="bg-sky-700 w-full p-4 rounded-xl mt-4 font-bold">
                    Aplicar a la vacante
                </button>
            </a>
        </div>
    </div>
</div>
