---
const { id } = Astro.params;
let empleo = null;

try {
    const response = await fetch(`http://localhost:3000/empleo/${id}`);
    if (response.ok) {
        empleo = await response.json();
    } else {
        throw new Error("Empleo no encontrado");
    }
} catch (error) {
    empleo = { error: error.message };
}

export const prerender = false; // Deshabilitar el prerenderizado estático
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empleo - {id}</title>
    </head>
    <body>
        <h1>Detalles del empleo {id}</h1>

        {
            empleo?.error ? (
                <p>{empleo.error}</p>
            ) : (
                <div>
                    <h2>{empleo.title_job || "Sin título"}</h2>
                    <p>
                        <strong>Descripción:</strong>{" "}
                        {empleo.jobDetails.description_job}
                    </p>
                    <p>
                        <strong>Empresa:</strong>{" "}
                        {empleo.jobDetails.name_empresa}
                    </p>
                    <p>
                        <strong>Ubicación:</strong> {empleo.location}
                    </p>
                    <p>
                        <strong>Salario:</strong> {empleo.salary}
                    </p>
                    <p>
                        <strong>Fecha de publicación:</strong>{" "}
                        {empleo.jobDetails.date_pub}
                    </p>
                </div>
            )
        }
    </body>
</html>
